/gunshotdetection/nbproject/private/
/gunshotdetection/gunshotdetection-war/nbproject/private/
/gunshotdetection/gunshotdetection-ejb/nbproject/private/
/gunshotdetection/gunshotdetection-ejb/build/
/gunshotdetection/gunshotdetection-ejb/dist/
/gunshotdetection/build/